.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')
        i.fa.fa-cube
        | Small Office App
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=(title == 'Contact') ? 'active' : undefined)
          a(href='/contact') Kontakt
          if user.role == 'admin'
            li
              a(href='/message') Dodaj komunikat
            li
              a(href='/news') Dodaj wiadomość
      ul.nav.navbar-nav.navbar-right
        if !user
          li(class=(title == 'Login') ? 'active' : undefined)
            a(href='/login') Zaloguj
          li(class=(title == 'Create Account') ? 'active' : undefined)
            a(href='/signup') Utwórz konto
        else
          li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src=user.gravatar(60))
              span= user.profile.name || user.email || user.id
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') Moje konto
              li
                a(href='/message') Dodaj komunikat
              li.divider
              li
                a(href='/logout') Wyloguj
