extends layout

block content
  h1 Aktualności
  hr
  .row
    if dailyMessages
      for msg in dailyMessages
        .alert.alert-info.fade.in
          div= msg.content
    if news
      for oneNews in news
        .col-sm-10
          p= oneNews.content