extends layout

block content
    .page-header
        h3 Utwórz komunikat

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(class='col-sm-2 control-label', for='startDate') Data rozpoczęcia wyświetlania komuniaktu
            .col-sm-8
                input.form-control(type='text', name='startDate', id='startDate', placeholder='YYYY-MM-DD', autofocus=true)
        .form-group
            label(class='col-sm-2 control-label', for='endDate') Data zakończenia wyświetlania komuniaktu
            .col-sm-8
                input.form-control(type='text', name='endDate', id='endDate', placeholder='YYYY-MM-DD')
        .form-group
            label(class='col-sm-2 control-label', for='message') Treść komunikatu
            .col-sm-8
                textarea.form-control(name='message', id='message', rows='7')
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                    i.fa.fa-envelope
                    | Utwórz