extends layout

block content
    .page-header
        h3 Dodaj wiadomość

    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)
        .form-group
            label(class='col-sm-2 control-label', for='news') Treść wiadomości
            .col-sm-8
                textarea.form-control(name='news', id='news', rows='7')
        .form-group
            .col-sm-offset-2.col-sm-8
                button.btn.btn-primary(type='submit')
                    i.fa.fa-envelope
                    | Dodaj